<a href="https://colab.research.google.com/github/Frkntf/DATA4auditors_IAEMetz/blob/main/IAE_METZ_TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Introduction à Python

print("Hello World!")

Hello World!

#Simple Examples
Nous allons voir les bases de Python
R et Python sont des programmations objet c'est à dire on défini des variables

In [ ]:
#On va définir des variables
prenom="Matt" #est du texte c'est donc un STRING
salaire_de_stage= 1711 # INTEGER c'est un ENTIER NATUREL
salaire_net= 1680.95 # FLOAT = chiffre à virgule

In [ ]:
print(f"Je m'apelle {prenom} et je gagnerai {salaire_de_stage} euros")

Je m'apelle Matt et je gagnerai 1711 euros

In [ ]:
#Arithmetic +++

debit1 = 157000
debit2 = 1711
credit = 157000

In [ ]:
debit1+debit2

158711

In [ ]:
a=debit1
b=debit2

In [ ]:
debit1,debit2
print(f"SUM : {debit1+debit2}, DELTA : {a-b}, Produit : {a*b}, Division : {a/b}")

SUM : 158711, DELTA : 155289, Produit : 268627000, Division : 91.75920514319111

In [ ]:
print(f"Division Integer: {a//b}") #division en entier naturel

Division Integer: 91

In [ ]:
#List (liste en francais)
banks=["BDL","BGL","BNP","BIL"]
banks[2] #la liste commence par 0 et pas par 1

'BNP'

In [ ]:
#Dictionnaire
#Non-ordonne et PAIRES-CLE
valorisation= {"nom": "Nike", "actif": 37, "passif": 34}

In [ ]:
print(f"la valorisation de {valorisation['nom']} est avec un actif")

la valorisation de Nike est avec un actif

# Exemples pour les auditeurs

Etude de cas pour l'audit, de ma société

In [ ]:
# Cellule des variables
revenu = 100000
depenses = 75000
taux_imposition_francais= 0.25
taux_imposition_luxembourgeois= 0.17
taux_imposition_irelande = 0.125

In [ ]:
# Cellule des calculs
benefice = revenu-depenses
impot_en_france= benefice * taux_imposition_francais
impot_au_lux= taux_imposition_luxembourgeois*benefice
impot_en_ire= taux_imposition_irelande*benefice
benefice_net_fr=benefice-impot_en_france

In [ ]:
print(benefice)
print(impot_en_france)

25000
6250.0

In [ ]:
#Cellule des checks/prints
print("Impot à payer en France", impot_en_france, "euros")

Impot à payer en France 6250.0 euros

In [ ]:
#Comparaison entre irelande, luxembourg
print("On compare au Luxembourg",taux_imposition_luxembourgeois*benefice,"euros", "vs en ireland", taux_imposition_irelande*benefice, "euros")

On compare au Luxembourg 4250.0 euros vs en ireland 3125.0 euros

In [ ]:
impot_en_france - impot_au_lux

2000.0

#Structure de contrôle

In [ ]:
# CONDITIONS (if, elif, else)
if benefice_net_fr > 0:
  print("L'entreprise réalise un benefice net. Un benef de", benefice_net_fr, "euros")
elif benefice_net_fr==0:
  print("L'entreprise est à l'equilibre")
else:
  print("L'entreprise réalise une perte nette.")

L'entreprise réalise un benefice net. Un benef de 18750.0 euros

#Importation des bibliothèques
#les packages se différencient entre 2 grandes catégories
#1) ceux "outils": contenant des fonctions
#2) ceux de "données" : contenant des données/valeurs

In [1]:
#Le package d'outils le plus repandu en python est PANDAS (ou POLARS)
import pandas as pd

In [2]:
#Le package "données" le plus répandu en Python x FINANCE est .... YAHOO! Finance
import yfinance as yf

In [3]:
#BLOCK : IMPORTATION DES PACKAGES
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
# dans les packages "outils" vous pouvez SOUS SELECTIONNER LE CHAPITRE

In [4]:
#BLOCK : VARIABLES
#pour une comparaison d'indices selon les pays
france_symbol = 'EWQ' #iShares MSCI France ETF
ireland_symbol = 'EWK' #iShares MSCI Ireland ETF
luxembourg_symbol = 'SPY' #S&P 500 son ETF

In [5]:
#BLOCK : TIME FRAME
start_date = '2010-01-01'
end_date = '2025-01-01'

In [10]:
#Telechargement des données historiques de YFINANCE pour chaque pays
france_data = yf.download(france_symbol, start=start_date, end=end_date)
irelande_data = yf.download(ireland_symbol, start=start_date, end=end_date)
lux_data = yf.download(luxembourg_symbol, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
print(france_data)

Price           Close       High        Low       Open  Volume
Ticker            EWQ        EWQ        EWQ        EWQ     EWQ
Date
2010-01-04  17.787544  17.827411  17.641363  17.641363   97400
2010-01-05  17.741035  17.867282  17.674589  17.847349  164100
2010-01-06  17.834063  17.840707  17.687882  17.734394  117300
2010-01-07  17.754326  17.787550  17.634724  17.648013   87500
2010-01-08  18.000175  18.006820  17.760970  17.787549  155400
...               ...        ...        ...        ...     ...
2024-12-24  35.970001  36.009998  35.619999  35.730000  187100
2024-12-26  36.119999  36.200001  35.939999  35.959999  216600
2024-12-27  36.060001  36.139999  35.900002  35.959999  758900
2024-12-30  35.810001  35.910000  35.650002  35.900002  361400
2024-12-31  35.880001  36.169998  35.799999  36.169998  401800

[3774 rows x 5 columns]

In [11]:
#BLOCK : ANALYSE DES DATAFRAMES (EDA)
#Il y a jours fériés donc il y'a des valeurs nulles
#france_data.isnull().sum()
#DATA_FRAME . FUNCTION_NAME()

In [12]:
#Calcul des rdt quotidiens pour chacun des fonds
lux_return=lux_data.pct_change().dropna()
irelande_return=irelande_data.pct_change().dropna()
france_return=france_data.pct_change().dropna()

In [ ]:
#Calcul de la renta cumulée des fds sur une periode
lux_cumulative_return=(1+lux_return).cumprod()-1
ireland_cumulative_return=(1+irelande_return).cumprod()-1
france_cumulative_return=(1+france_return).cumprod()-1

In [14]:
#BLOCK : GRAPHIQUES
#presentation à des investisseurs des rdt via un dataframe
print(lux_data.head())
print(irelande_data.head())
print(france_data.head())

Price           Close       High        Low       Open     Volume
Ticker            SPY        SPY        SPY        SPY        SPY
Date
2010-01-04  86.026451  86.071994  84.644927  85.297736  118944600
2010-01-05  86.254166  86.292122  85.662085  85.973310  111579900
2010-01-06  86.314903  86.527445  86.102362  86.170676  116074400
2010-01-07  86.679268  86.785539  85.912596  86.155501  131091100
2010-01-08  86.967705  87.005661  86.276946  86.451531  126402800
Price          Close      High       Low      Open  Volume
Ticker           EWK       EWK       EWK       EWK     EWK
Date
2010-01-04  8.644100  8.729103  8.572175  8.572175  329400
2010-01-05  8.748718  8.781412  8.683331  8.729102  451600
2010-01-06  8.801028  8.801028  8.689871  8.689871   71800
2010-01-07  8.742180  8.761796  8.696409  8.742180   46000
2010-01-08  8.781411  8.801027  8.696409  8.696409  391700
Price           Close       High        Low       Open  Volume
Ticker            EWQ        EWQ        EWQ        EWQ     EWQ
Date
2010-01-04  17.787544  17.827411  17.641363  17.641363   97400
2010-01-05  17.741035  17.867282  17.674589  17.847349  164100
2010-01-06  17.834063  17.840707  17.687882  17.734394  117300
2010-01-07  17.754326  17.787550  17.634724  17.648013   87500
2010-01-08  18.000175  18.006820  17.760970  17.787549  155400